body {
  font-family: Arial;
  background: #fafafa;
  margin: 0;
}

textarea {
  font-family: Arial;
}

.header {
  padding: 20px;
  background: white;
  height: 40px;
  text-align: center;
}

.form_title {
  margin-left: 15px;
}

.navbar {
  width: 100%;
  background-color: #ea824b;
  text-align: center;
  color: white;
}

.logo-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.operations {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.operations li {
  margin-left: 10px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  width: 150px;
  border: 2px solid #ea824b;
  display: inline-block;
}

.operations li a {
  text-decoration: none;
  color: #ea824b;
}


.content {
  float: left;
  width: 65%;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom:100px;
}

.sidebar {
  float: left;
  width: 25%;
  background-color: white;
  padding: 20px;
  margin-top: 15px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #ea824b;
  border-radius: 5px;
  margin-bottom: 10%;
}

.sidebar_item {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.category_main {
  background-color: #ea824b;
  color: white;
  font-size: 13px;
  text-align: center;
  margin-left: 10px;
  width: 120px;
  height: 20px;
  line-height: 20px;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
}

.category_main a {
  text-decoration: none;
  color: white;
}
  
.footer {
  padding: 10px;
  font-size: 10px;
  text-align: center;
  background:#ea824b;
  color: white;
  margin-top: auto;
}

  
@media screen and (max-width: 800px) {
  .content, .sidebar {
    width: 100%;
    padding: 0;
  }
}