.post_wrapper {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 2px solid #ea824b;
    border-radius: 10px;
    word-break:break-all;
}

.post_title {
    font-size: 30px;
    margin-bottom: 10px;
}

.post_description {
    color: #ea824b;
    font-size: 12px;
    margin-top: 0;
}

.post_text {
    color: black;
    text-align: justify;
}

.post_category {
    background-color: #ea824b;
    color: white;
    font-size: 13px;
    text-align: center;
    width: 120px;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    font-weight: bold;
    display: inline-block;
}

.post_category a {
    text-decoration: none;
    color: white;
}

.post_button {
    background-color: white; /* Green */
    border: 2px solid #ea824b;
    border-radius: 5px;
    color: #ea824b;
    padding: 5px 15px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
    transition-duration: 0.4s;
    width: 100px;
    display: inline-block;
    margin-left: 55%;
}  
  
.post_button:hover {
    background-color: #ea824b; /* Green */
    color: white;
}