
# Created by https://www.toptal.com/developers/gitignore/api/yii
# Edit at https://www.toptal.com/developers/gitignore?templates=yii

### Yii ###
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/

# End of https://www.toptal.com/developers/gitignore/api/yii
